@font-face {
    font-family: 'Cascadia Mono';
    src: url('./fonts/CascadiaMono-Regular.woff2') format('woff2'),
        url('./fonts/CascadiaMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-ExtraLight.woff2') format('woff2'),
        url('./fonts/Nunito-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --font-headings: 'Cascadia Mono', 'Courier New', Courier, monospace;
  --font-regular: 'Nunito', Arial, Helvetica, sans-serif;
  --background: #e3dfd8;
  --darker-background: #acb8d1;
  --primary-accent: #d09412;
  --secondary-accent: #9a2d4d;
  --footer-background: #113681;
  --dark-text-color: #070505;
  --light-text-color: #ede5db;
}


body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: var(--font-regular);
  font-size: 18px;
  background: var(--background);
  color: var(--dark-text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headings);
  width: 100%;
  text-align: center;
}

svg {
  color: inherit;
  width: 1.5rem;
  height: auto;
}

a:has(svg):active {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

section {
  padding: 1.5rem;
}

section.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .image-container {
    max-width: min(400px, 100%);
    display: flex;
    justify-content: center;
    position: relative;

    picture {
      display: inherit;
      justify-content: inherit;
    }

    p {
      font-family: var(--font-headings);
      font-size: 3rem;
      bottom: 0;
      left: 0;
      position: absolute;
      color: var(--light-text-color);
      text-align: left;
      width: 1px;
    }

    img {
      width: 100%;
    }
  }

  .about-container {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
  }
}

section.my-work {
  display: grid;
  justify-content: center;
  gap: 1rem;

  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1rem));
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  min-height: 300px;
  align-items: start;
  
  .image-container {
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
    }
    h3 {
      color: var(--light-text-color);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
    }
  }

  .info-container {
    display: grid;
    gap: 0.5rem;
    .top-line {
      display: flex;
      justify-content: space-around;

      .tags-container {
        display: flex;
        gap: 0.5rem;

        .tag {
          background-color: var(--secondary-accent);
          color: hsla(from var(--light-text-color) h s l / 95%);
          padding: .25rem .5rem;
          border-radius: 16px;
          font-size: 0.75rem;
          display: grid;
          place-items: center;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 700;
        }
        .tag.prime {
          background-color: var(--primary-accent);
        }
      }
    }

    .bottom-line {
      padding: 0 1rem;
    }
  }
}

footer {
  background-color: var(--footer-background);
  color: var(--light-text-color);
  padding-bottom: 0;
  display: grid;
  gap: 1.5rem;

  .info-container {
    padding: 1.5rem 1.5rem 0 1.5rem;
    display: grid;
    gap: 1.5rem
  }

  .image-container {
    max-width: 100%;

    picture {
      display: inherit;
      justify-content: inherit;
      
      img {
        width: 100%;
      }
    }
  }

  .call-to-action {
    font-style: italic;
  }

  .email {
    text-decoration: underline;
  }
}

.socials-container {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: center;

  a {
    display: grid;
    place-items: center;
    color: inherit;
    
    svg {
      color: inherit;
      width: 2rem;
      height: auto;
    }
  }
}

@media screen and (600px <= width) {

  body {
    --hero-image-offset: 6rem;
    display: grid;
    justify-items: center;
  }
  
  section.hero {
    display: flow-root;
    background-color: var(--darker-background);
    max-width: 80%;
    margin-top: var(--hero-image-offset);
    margin-inline: calc(var(--hero-image-offset));
    
    .image-container {
      float: left;
      margin-left: calc(var(--hero-image-offset) * -1);
      margin-top: calc(var(--hero-image-offset) * -1);
      margin-right: 1rem;
      margin-bottom: 1rem;
      max-width: min(400px, 50%);
      display: flex;
      justify-content: center;
      position: relative;

      picture {
        display: inherit;
        justify-content: inherit;
      }

      p {
        font-family: var(--font-headings);
        font-size: 3rem;
        bottom: 0;
        left: 0;
        position: absolute;
        color: var(--light-text-color);
        text-align: left;
        width: 1px;
      }

      img {
        width: 100%;
      }
    }

    .about-container {
      display: inline;
      text-wrap-style: pretty;
    }
  }

  footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 1.5rem;
    padding-block: 3rem;
    padding-inline: 1.5rem;

    .info-container {
      padding: 0;
      display: grid;
      gap: 1.5rem;

      h1 {
        text-align: left;
      }
    }

    .image-container {
      max-width: 100%;

      picture {
        display: inherit;
        justify-content: inherit;
        
        img {
          width: 100%;
        }
      }
    }
  }

  .socials-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: fit-content;
    float: right;


    a {
      display: grid;
      place-items: center;
      color: inherit;
      
      svg {
        color: inherit;
        width: 2rem;
        height: auto;
      }
    }
  }

}